:root {
  --white: #fff;
  --half-white: #d7ccc0;
  --main: #fe8a02;
  --light: #f5f4f0;
  --dark-main: #42413c;
  --dark: #2a2626;
  --half-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-family: 'Open Sans';
  --second-family: neucha;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-VariableFont.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italic-VariableFont.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Neucha;
  src: url('../fonts/Neucha-Regular.ttf');

  font-weight: normal;
  font-style: normal;
}

body {
  font: normal 16px/1.6em 'Open Sans', sans-serif;
  color: var(--dark);
}

.container {
  max-width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: normal;
}

h1 {
  font-size: 72px;
  z-index: 1;
  position: relative;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin: 0;
  padding: 0;
}

.yellow {
  color: var(--main);
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.mb-20 {
  margin-bottom: 20px;
}

.relative {
  position: relative;
}

.header,
.section {
  position: relative;
  overflow-x: hidden;
}

.section-light {
  background-color: var(--light);
}

.section-dark {
  background-color: var(--brown);
}

.header {
  background-color: var(--light);
}

.background::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.header-container {
  position: relative;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
  z-index: 0;
}

.header-wrapper {
  display: flex;
  padding-top: 200px;
}

.header-text-left,
.header-text-right {
  width: 50%;
}

.header-text-left {
  margin: 0;
  margin-right: 30px;
}

.header-text {
  margin: 0;
}

.header-text:nth-child(1) {
  margin-bottom: 14px;
}

.header-text:nth-child(2) {
  margin-bottom: 39px;
}

.header-link {
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--main);
  font-weight: 700;
  letter-spacing: 0.5px;
}

.video {
  margin-bottom: -200px;
}

.section-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.link-img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin-bottom: -100px;
}

.section-video-description {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.section-video-header {
  text-align: center;
  margin-bottom: 30px;
}

.section-nav {
  background-color: #42413c;
}

.section-nav .container {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
}

.card-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px 30px;
  counter-reset: item;
}

.nav-title {
  font-size: 52px;
  color: var(--white);
}

.card-list-item:not(:first-child) {
  position: relative;
  padding: 24px;
  background: var(--light);
  list-style-type: none;
  transition: background-color 0.3s ease-in;
}

.card-list-item:first-child {
  background: transparent;
  list-style-type: none;
}

.card-list-item:not(:first-child)::before {
  counter-increment: item;
  content: counter(item);
  display: inline-block;
  margin-bottom: 40px;
  font-family: var(--second-family);

  font-size: 64px;
  line-height: 1;
  color: var(--primary-dark);
  transition: color 0.3s ease-in;
}

.card {
  color: inherit;
  text-decoration: none;
}

.card::after {
  position: absolute;
  content: '';
  inset: 0;
}

@media (hover: hover) {
  .card-list-item:not(:first-child):hover {
    background-color: var(--main);
  }

  .card-list-item:not(:first-child):hover *,
  .card-list-item:not(:first-child):hover::before {
    color: #fff;
  }
}

.card-title {
  display: block;
  margin-bottom: 16px;
  font-family: var(--second-family);
  font-size: 34px;
  color: var(--main);
  transition: color 0.3s ease-in;
}

.card-descr {
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--dark);
  transition: color 0.3s ease-in;
}

.column {
  flex-basis: 50%;
}

.effect .row {
  gap: 30px;
}

.effect-title {
  margin-bottom: 30px;
  font-family: var(--second-family);
  font-size: 60px;
  color: var(--dark);
}

.effect-title-small {
  display: block;
  margin: 0;
  font-size: 24px;
  line-height: 1;
  color: var(--half-dark);
}

.effect-subtitle {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 13px 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 0;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--brown);
}

.effect-descr {
  margin: 0;
  font-family: var(--second-family);
  font-size: 34px;
  line-height: 1.2em;
  color: var(--dark);
}

.effect-text {
  font-family: var(--font-family);
}

.effect-img {
  vertical-align: middle;
  box-shadow: 0 16px 32px 0 rgba(0 0 0 15%);
}

.section-dark.effect-subtitle {
  color: var(--brown);
  background-color: var(--white);
}

.section-dark * {
  color: var(--white);
}

.section-dark.effect-title-small {
  color: var(--half-white);
}

.section-dark.row:first-child {
  flex-direction: row-reverse;
}

.subscribe {
  margin-bottom: 76px;
  padding: 38px 55px 45px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-main);
}

.subscribe-title {
  font-family: var(--second-family);
  font-size: 34px;
  color: var(--white);
}

.subscribe-form {
  width: calc((50% - 15px));
}

.subscribe-input-label {
  display: block;
  margin-bottom: 9px;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 160%;
  color: var(--white);
}

.subscribe-input {
  box-sizing: border-box;
  width: calc(100% - 70px);
  padding: 15px;
  height: 50px;
  border: none;
}

.subscribe-input::placeholder {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 160%;
  color: #757575;
  opacity: 0.2;
}

.subscribe-btn {
  position: relative;
  width: 70px;
  height: 50px;
  background-color: var(--main);
  border: none;
}

.subscribe-btn::before {
  position: absolute;
  content: url('../images/send.svg');
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-descr {
  font-family: var(--font-family);

  font-size: 12px;
  line-height: 160%;
  color: var(--white);
}

.subscribe-link {
  color: var(--white);
  text-decoration: underline;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-family);

  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #000;
}

.contacts-link {
  color: #007dc1;
}
